@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

$white: #fff;
$black: #1c1c1c;
$red: #cd3e35;
$accent:#da3125;
$md:1300px;

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Oswald', sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  color: $white;
  background: $black;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin-left: 4rem;
  margin-right: 5rem;
}

a {
  color: $white;
  text-decoration: none;
  
}

.button-primary{
  margin-top: -8rem;
  background-color: $red;
  white-space: nowrap;
  border-radius: 5px;
  padding: 1rem 3rem ;
  text-transform: uppercase;
  color:white;
  text-align: center;
  width: 11rem;


}

.button-primary:hover{
  background-color: $accent;
}



/*============HERO SECTION=================*/


.flex-nav{
    margin-bottom: 3rem;
    margin-top: -1rem;
}


nav {
    
  position: relative;
  z-index: 2;
  padding: 5rem 5rem 1.25rem 0;
  ul {
    
    
    
    line-height: 2.2;
    display: flex;
    justify-content: flex-start;
    li {
        
      margin: 0.325rem 0;
    }
  }
}

#logo {
  color: $black;
  font-weight: 700;
  font-size: 1.125rem;
}

#highlight {
  color: $red;
}

img {
	width: 100%;
  height: 43vh;
	object-fit: cover;
}

.vertical {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro {
  position: relative;
  z-index: 2;
  opacity: 0;
  animation: fadeIn 0.8s 0.4s ease forwards;
  .title {
    display: inline-block;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1;
    text-decoration: underline;
    color: $red;
    .underline {
      color: $black;
    }
  }
}



.slider-item {
  display: none;
  &.active {
    display: block;
    .hide-mobile {
      display: none;
    }
    .show-mobile {
      display: block;
      margin: 1rem 0;
    }
  }
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: #fff;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  font-size: inherit;
  width: 55px;
  height: 55px;
}

.controls {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0 0.25rem 0;
  margin-top: -7rem;
  margin-left: -5rem;
  
  
  .next {
    margin-left: 1rem;
    
  }
  
}

.previous, .next {
  
  border-radius: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-basis: 10%;
  font-size: 2rem;
  color: $black;
  &:hover .icon {
    transform: scale(1.5);
  }
  .icon {
    transition: transform 0.1s ease;
  }
}

.image-holder img{
background-size: cover;
height: 32rem;
margin-top: -4rem;
border-radius: 5px;
}

.search{
  padding:0.5rem 2rem;
  background-color: #2b2a2a;
  border:none;
  color:white;
  font-size: 1rem;
  border-radius: 5px;
}

.active .image-holder::before {
  position: absolute;
  content: '';
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  transform-origin: 100% 50%;
  animation: revealRight 1s cubic-bezier(0.23,1,0.75,1) forwards;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.toggle-nav {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  line-height: 1.9;
  i {
    font-size: 1.5rem;
    line-height: 1.3;
    margin: 0 0 0 0.5rem;
  }
}

.flex-nav ul {
  position: absolute;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;
  width: 100%;
  left: 0;
  padding: 1rem;
  background: $red;
  text-align: center;
  &.active {
    display: flex;
  }
}

@media (min-width: $md) {
  nav ul {
    justify-content: flex-end;
  }
  
  #logo {
    font-size: 1.25rem;
  }
  
  .controls {
    padding: 1.75rem 0 1.75rem 0;
  }

  .intro {
    animation: fadeInLeft 0.8s 0.4s ease forwards;
    margin-bottom: -21rem;
    
    
    .title {
      font-size: 4.25rem;
      padding: 5rem 2.5rem 7rem 2.5rem;
      background: $white;
      border-radius: 5px;
      
    }
  }
  
  img {
    height: 60vh;
    width: 70%;
    margin-left: 20rem;
  }
  
  
  
  .previous, .next {
    flex-basis: 8.33%;
  }
  
  .slider-item.active .hide-mobile {
    display: block;
  }
  
  .slider-item.active .show-mobile {
    display: none;
    
  }
  
  .toggle-nav {
    display: none;
  }
  
  .flex-nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 0;
    justify-content: flex-end;
  }
  
  nav {
    padding: 1.75rem 0 1.75rem 0;
    ul {
      line-height: 2.2;
      display: flex;
      justify-content: flex-start;
      li {
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0 4rem 0 0;
        &:nth-child(5) {
          margin: 0;
        }
      }
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 800px){

    .flex-nav{
        margin-top: -4rem;
    }
    .underline{
        color:white;
    }

    .search{
      visibility: hidden;
    }


   
}


// <!-- -----------------UNDER HERO-------------- -->

.under-hero {
  
  h1{
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
  }
  p{
    text-align: center;
  }
  span{
    color:$red;
  }
}

.numbers{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.number{
  display: flex;
  margin-right: 6rem;
}
.number{
  
  span{
    font-size: 5rem;
  }
  p{
    padding-top:1.5rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    text-align: left;
    text-transform: uppercase;
  }
}


.intro-section{
    margin-top: 5rem;
}

.nav-bar li a:hover{
  color:$red;
}


/*-----------======---CAROUSEL-----=======-----------------*/


div#carousel { 
  perspective: 1200px; 
  background: #2b2a2a;
  padding-top: 7%; 
  padding-bottom: 15%;
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden; 
}
figure#spinner { 
  transform-style: preserve-3d; 
  height: 300px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 425px; 
  position: absolute; 
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg);
   }
div#carousel ~ span { 
  color: #fff; 
  margin: 5%; 
  display: inline-block; 
  text-decoration: none; 
  font-size: 2rem; 
  transition: 0.6s color; 
  position: relative; 
  margin-top: -6rem; 
  border-bottom: none; 
  line-height: 0; }
div#carousel ~ span:hover { color: #888; cursor: pointer; }

.ss-icon{
  font-size: 3rem;
}


// <!-- -----------------SERVICES------------- -->


.service-wrap {
  
  h1{
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
  }
  p{
    text-align: center;

  }
  span{
    color:$red;
  }
}
.wrapper-services {
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 5rem;
}

.wrapper-services img{
  height: 40rem;
  width: 32rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.service-left{
  margin-top: 5rem;

}
.service {
  padding-bottom: 2rem;
}
.service-right{
  margin-top: 5rem;
}
.service h2{
  text-transform: uppercase;
}
.service p {
  text-align: left;
  color:rgb(165, 163, 163);
  font-size: 1.2rem;
}
.service a:hover{
  color:$red;
}


// -----------------VIDEOS-------------- //

.videos-wrap{
  background-color: #2b2a2a;;
  padding-top: 4rem;
  margin-top: 10rem;
}

.videos-wrap h1{
  text-transform: uppercase;
  text-align: center;
}

.videos-wrap span{
  color:$red;
}

main {
  width: 35rem;
  height: 35rem;
}
.videos{
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  padding-left: 5rem;
  padding-right: 3rem;
  
}

.video-pic{
  margin-left: -20rem;
}

.video-pic img{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  
}

.video-pic span{
  color:white;
  padding-left: 0.5rem;
  
}

.video{
  width: 25rem;
  height: 35rem;
 
}

.video p{
  color:rgb(165, 163, 163);
  font-size: 1.2rem;
}

.video p{
  width: 20rem;
}
.videoWrapper {
  position: relative;
  width: 65%;
  height: 0;
  background-color: #000;
  &43 {
    padding-top: 75%;
  } 
  &169 {
    padding-top: 56%;
  } 
}
.videoIframe {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.videoPoster {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  outline: none;
  background-position: 50% 50%;
  background-size: 100% 100%;
  background-size: cover;
  text-indent: -999em;
  overflow: hidden;
  opacity: 0.7;
  -webkit-transition: opacity 800ms, height 0s;
  -moz-transition: opacity 800ms, height 0s;
  transition: opacity 800ms, height 0s;
  -webkit-transition-delay: 0s, 0s;
  -moz-transition-delay: 0s, 0s;
  transition-delay: 0s, 0s;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 5px solid $accent;
    border-radius: 100%;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin: -25px 0 0 -10px;
    border-left: 40px solid$accent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    -webkit-transition: border-color 300ms;
    -moz-transition: border-color 300ms;
    transition: border-color 300ms;
  }
  &:hover,
  &:focus {
    &:before {
      border-color: $accent;
    }
    &:after {
      border-left-color: $accent;
    }
  }
  .videoWrapperActive & {
    opacity: 0;
    height: 0;
    -webkit-transition-delay: 0s, 800ms;
    -moz-transition-delay: 0s, 800ms;
    transition-delay: 0s, 800ms;
  }
}




/* ==============TEAM====================*/

.team-wrap{
  margin-top: 15rem;
}
.team-members {
  transform: rotate(-45deg);
  margin-right: 5rem;
  
}
.team-members li > div {
	float: left;
	width: 30%;
}

.team-members li:nth-child(2) > div:first-child {
	margin-left: 20%;
}

.team-members li:last-child > div:first-child {
	margin-left: 40%;
}


.team-1 img {

  margin: 37px;
  background-color: #2b2a2a;;;
  
}

.team-2 img {
 

  margin: 5px;
  background-color: #2b2a2a;;;
  
}

.team-3 img{

 
  margin: 40px;
  background-color: #2b2a2a;;;
}

.team-4 img {

  margin: 3px;
  background-color: #2b2a2a;;;
}

.member-details img {
	transform: rotate(0deg) translate(0, 15px) scale(1.2);
	display: block;
width: 80%;
height: 80%;
}

.member-details{
 
 margin-right: 0.5rem;
 margin-top: 0.5rem;
  background-color: #2b2a2a;
  border-radius: 5px;
}

.member-details > div {
	position: relative;
  overflow: hidden;
  
}

.member-info {
	position: absolute;
	top: 50%;
	transform: rotate(45deg) translate(-12px, 15px);
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;
}

.member-info h3,
.member-info p {
	margin: 0;
	color: #fff;
	position: relative;
	opacity: 0;
	visibility: hidden;
}

.member-info h3 {
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	top: -120px;
}

.member-info p {
	font-weight: 300;
	font-size: 16px;
	bottom: -160px;
}

.member-details > div:after {
	content: '';
	background-image: linear-gradient(45deg, $red 50%, transparent 50%);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}


.member-details *,
.member-details > div:after {
	cursor: pointer;
	transition: all .4s ease;
}

.member-details:hover *,
.member-details:hover > div:after {
	opacity: 1;
	visibility: visible;
}

.member-details:hover .member-info h3 {
	top: 0;
}

.member-details:hover .member-info p {
	bottom: 0;
}

.team-overview{
  margin-top: -20rem;
  margin-left: 5rem;
}

.team-overview h1 {
  text-transform: uppercase;
  font-size: 2rem;
	font-weight: 700;
	margin-bottom: 5px;
}
.team-overview span{
  color:$red;
}
.team-overview > a {
  margin-bottom: 30px;
  font-size: 1.6rem;
	display: block;
}
.team-overview p{
  color:#a5a3a3;
  font-size: 1.2rem;
}
.team-overview > a:before {
	content: '';
	width: 10px;
	height: 2px;
	position: relative;
	top: -3px;
	margin-right: 5px;
	background-color: #ccc;
	display: inline-block;
}


.flex-center {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.flex-center > div:first-child {
	order: 2;
}


@media only screen and (max-width : 992px) {
	.sm-no-flex {
		display: block;
	}
	.sm-no-float {
		float: none !important;
	}
	.sm-text-center {
		text-align: center;
	}
}

@media only screen and (max-width : 550px) {
	.team-members li {
		text-align: center;
	}
	.team-members li > div {
		float: none;
		display: inline-block;
		width: 30%;
		margin: 0 !important;
	}
	.team-members {
		transform: rotate(0);
	}
	.member-details img {
		transform: rotate(0) translate(0, 0);
	}
	.team-overview {
		padding: 15px;
	}
	
}

@media only screen and (max-width : 399px) {
	.team-members li > div {
		width: 48%;
	}
}


//<!--============ PRICING  ====================-->

.pricing-wrapper {
  
  h1{
    margin-top: 5rem;
    text-align: center;
    text-transform: uppercase;
  }
  p{
    text-align: center;

  }
  span{
    color:$red;
  }
}

.pricing-wrap{
  margin-top: 3rem;
  margin-bottom: 3rem;
  min-height: 100vh;
  padding: 41px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #2b2a2a;

}

.flip-card-container {
  width: 310px;
  height: 500px;
  margin: 40px;
  perspective: 1000px;
}


.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}


.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}


.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background: $black;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricered{
  width: 110%;
  height: 110%;
  background-color: $red;
  margin-top: -2rem;
  margin-left: -1rem;
}


.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}


.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}


figure {
  z-index: -1;
}


figcaption {
  text-transform: uppercase;
  font-size: 1.7rem;
  margin-top: 12%;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 6px;
  position: absolute;
  top: 0;
  
}


.flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}


.pricing-ul {
  padding-top: 40%;
  margin: 0 auto;
  width: 70%;
  height: 100%;
  list-style: none;
  color: var(--white-1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: -2rem;
  li {
    width: 100%;
    margin-top: 12px;
    padding-bottom: 12px;
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-left: 0rem;
  }
  
  li:nth-child(2n) {
    color: var(--white-2);
  }
  
  li:not(:last-child)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    opacity: .2;
  }
  
}

.price-b{
  margin-top: 1rem;
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.middle{
  background-color: $black;
}




button:hover+.design-container,
button:active+.design-container,
button:focus+.design-container {
  --tr: 20;
  --op: .7;
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: hsla(0, 0%, 100%, .6);
  font-size: 16px;
  
}



//-- -----------------TESTIMONIALS-------------- -->


.callout-text h1 {

  
  margin-top: 10rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
	@media (min-width: 768px) {
	
	}
}

.callout-text {
	text-align: center;
	max-width: 1140px;
  margin: 40px auto;
  
}

.testimonial-carousel {
	background-color: #2b2a2a;
	overflow: hidden;
	height: 500px;
	position: relative;
	padding: 20px 0px;
	display: flex;
	.icon-container {
    margin: 5rem;
		position: relative;
		padding: 0 5px;
		max-width: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 9999;
		@media (min-width: 768px) {
			max-width: 50px;
			padding: 0 10px;
		}
		span.lnr {
			color: #dadada;
			font-size: 1.6em;
			cursor: pointer;
			transition: color 0.3s linear;
			@media (min-width: 768px) {
				font-size: 2.6em;
			}
			&:hover {
				color: #fff;
			}
		}
	}
	
	
}

.testimonial-items {
	position: relative;
	flex: 1;
	overflow: hidden;
	color: #fff;
}

.testimonial-item {
	width: 100%;
	height: 100%;
	transition: transform 1s;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	p.testimonial-author {
		font-weight: bold;
		text-align: right;
	}
	&.first {
		left: 0;
	}
	&.second {
		left: 100%;
	}
	&.third {
		left: 200%;
	}
}

.testimonial-author{
  font-family: "Oswald";
  margin-top: -3.5rem;
  margin-left: -1rem;
  color:#a5a3a3;
  font-size: 1.1rem;
}
.persona{
  margin-top: 7rem
}
.persona img{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 2rem;
  
 
}
.testimonial-carousel{
  position: relative;
  z-index: 1;
}
.testimonial-carousel i{
  position: absolute;
  font-size: 14rem;
  opacity: 0.1;
  color:$red;
  margin-left: 30rem;
  margin-top: 3rem;
}




//<!-- -----------------BLOG-------------- -->

.blog-wrapper{
  
  margin-top: 10rem;
  
}

.blog{
  display: flex;
  margin-top: 7rem;
  margin-left: 5rem;
  
  
}

.blog-1{
 background-color: #2b2a2a;
 padding-right: 5rem;
 padding-bottom: 2rem;
}

.blog-1 img{
  opacity: 0.7;
  margin-left: 0rem;
  width: 20rem;
  height: 15rem;
  margin-left: 3rem;
  margin-top: -3rem;
  border-radius: 5px;
}

.blog-2{
 width: 55%;
 background-color: #3b3b3b;
 padding: 2rem;
 
}

.blog-2 h2{
  margin-left: -6rem;
  margin-right: 8rem;
}

.blog-2 p{
  text-align: left;
}

.blog-2 img{
  opacity: 0.7;
  margin-left: 0rem;
  width: 20rem;
  height: 15rem;
  margin-left: 3rem;
  margin-top: -3rem;
  border-radius: 5px;
}

.under-img{
  display: flex;
  justify-content: space-around;
}

.date{
  display: flex;
}

.author{
  display: flex;
  margin-left: -20rem;
  
}
.author img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-top: 1.2rem;
  margin-right: 1rem;
  
}
  
.date span{
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-left: 3rem;
}

.date p {
  text-transform: uppercase;
  margin-left: 1rem;
}

.icons{
  margin-top: 1.5rem;
}

.icons a{
  margin-right: 1rem;
}



